.edit-seller {
  text-align: center;
width:$main-layout;
    display: grid;


    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr 0.7fr ;
  .seller-details{
    //   grid-area:0/0/1/1;
  }


  .user-gigs{
//  grid-area:0/1/1/2;
  }   
  
  .table-container{

    // grid-area:1/1/2/2 ;

  }
  
  .hidden{
        display: none !important;
    }
}