.gig-details-page {
    margin: 0 auto;
    width: $main-layout;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: 6fr 2fr;
    grid-gap: 15%;

    img {
        width: 100%;
    }

}