.home-page-top-container {
    //background-color: rgb(231, 23, 23);
}

.home-page-top {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.home-page-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 615px;
    & header {
        & h1 span {
            font-size: 48px;
            line-height: 56px;
            color: $white;
            width: 617px;
        }
    }
    & .home-page-search-container {
        display: flex;
        width: 650px;
    }
    & .home-page-search-bar-container {
        margin-top: 20px;
    }
}

.home-page-bottom-container {
    h1 {
        display: flex;
        flex-direction: column;
        color: $flc;
        font-size: 32px;
        margin-top: 110px;
    }
    & .hp-buttom-header-container {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        padding-bottom: 20px;
        button {
            @include btnWhiteTrans($c: $flc, $bc: $flc);
        }
    }
}