.app-header {
    width: 100%;
    border-bottom: 1px solid #e4e5e7;
    // uri added
    //background-color: inherit;
    // end of uri add
    // position: fixed;
    //  background-color: $white;
    // z-index: 5;
    .nav-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 5rem;
        width: $main-layout;
        padding: 0 2rem;
        margin: auto;
        font-weight: 900;
        color: $fnc;
        // uri added
        // background-color: inherit;
        // end of uri add
        .logo>a {
            bottom: 0.35rem;
            text-decoration: none;
            color: inherit;
            font-size: 2rem;
            // font-weight: 900;
            span {
                color: $fgc;
                font-size: 2rem;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }
        }
        .navigation {
            display: flex;
            align-items: center;
            position: relative;
            //uri added:
            background-color: inherit;
            //end uri added.
            >a {
                text-decoration: none;
                padding-inline-start: 1.5rem;
                // uri edited: color and hover color passed to a single class "header-nav-btn"
                //color: $ftc;
                font-weight: 600;
                //transition: 0.35s ease;
                // &:hover {
                //     color: $fgc;
                // }
            }
            >span {
                text-decoration: none;
                padding-inline-start: 1.5rem;
                color: $white;
                font-weight: 600;
                //transition: 0.35s ease;
                &:hover {
                    color: $fgc;
                    cursor: pointer;
                }
            }
            button {
                // uri edite
                background-color: inherit;
                // background-color: white;
                // end of edit
                border: none;
                padding-inline-start: 1.5rem;
                //color: $ftc;
                font-weight: 600;
                font-size: 1rem;
                &:hover {
                    cursor: pointer;
                    color: $fgc;
                    transition: 0.35s ease;
                }
                .header-join {
                    border: 1.5px solid $fgc;
                    border-radius: 5px;
                    padding: 0.25rem 1.5rem;
                    //transition: 0.35s ease;
                    //color: $fgc;
                    &:hover {
                        color: $white;
                        background-color: #02a75a;
                    }
                }
            }
        }
        .user-control {
            a {
                text-decoration: none;
                padding-inline-start: 1.5rem;
                color: inherit;
                //uri edited
                // end of uri edit
                font-weight: 600;
                transition: 0.35s ease;
                display: inline;
            }
        }
        .avatar {
            height: 40px;
            border-radius: 50%;
            width: 40px;
            background-color: transparent;
            margin-left: 24px
        }
        .avatar-menu {
            span {
                text-decoration: none;
                padding-inline-start: 1.5rem;
                color: $ftc;
                font-weight: 600;
                transition: 0.35s ease;
                &:hover {
                    color: $fgc;
                    cursor: pointer;
                }
            }
            a {
                text-decoration: none;
                padding-inline-start: 1.5rem;
                color: $ftc;
                font-weight: 600;
                transition: 0.35s ease;
                &:hover {
                    color: $fgc;
                    cursor: pointer;
                }
            }
        }
    }
}

.header-signin {
    color: $ftc;
}

.header-join {
    color: $ftc;
}

.user-control {
    color: inherit;
}

// Class addtions nav-button ( 
.header-nav-a {
    color: $ftc;
    &:hover {
        color: $fgc;
    }
}

.home-page-header1,
.home-page-header2,
.home-page-header3,
.home-page-header4,
.home-page-header5 {
    border-bottom: none;
}

.home-page-header1 {
    background-color: #494949;
    color: white;
}

.home-page-header2 {
    background-Color: #d1aa8b;
    color: white;
}

.home-page-header3 {
    background-Color: #a57563;
    color: white;
}

.home-page-header4 {
    background-Color: black;
    color: white;
}

.home-page-header5 {
    background-Color: #d1aa8b;
    color: white;
}

// .header-join,
// .header-signout {
//     color: $white;
// }