.explore-filter {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;

    & .explore-choose {
        border: 1.5px solid $fbc;
        display: flex;
        justify-content: space-between;
        padding: 0.25rem;
        border-radius: 5px;

        input.el-input__inner {
            background-color: blue;
            border: 1.5px solid #c5c6c9 !important;
        }
    }
}