.home-page-category-list {
    display: flex;
    position: inherit;
    list-style-type: none;
    padding-inline-start: 0;
    gap: 40px;
    & .home-page-category-before-btn {
        background-color: $white;
        position: absolute;
        z-index: 4;
        top: 104%;
        left: 0%;
        width: 48px;
        height: 48px;
        text-align: center;
        border: 0;
        font-size: 25px;
        border-radius: 30px;
        box-shadow: 0px 14px 29px -1px rgba(0, 0, 0, 0.23);
    }
    & .home-page-category-next-btn {
        background-color: $white;
        position: absolute;
        z-index: 4;
        top: 104%;
        right: 0%;
        width: 48px;
        height: 48px;
        text-align: center;
        border: 0;
        font-size: 25px;
        border-radius: 30px;
        box-shadow: 0px 14px 29px -1px rgba(0, 0, 0, 0.23);
    }
}

.home-page-category-image-wrapper {
    display: flex;
    position: inherit;
    height: 345px;
    width: 100%;
    & img {
        border-radius: 4px;
        max-width: 240px;
        object-fit: cover;
        height: 345px;
    }
}

.home-page-category-text-container {
    position: absolute;
    color: $white;
    padding: 16px;
    & h4 {
        font-size: 14px;
    }
    & h2 {
        font-size: 24px;
    }
}