@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.hp-hero-image-list {
    position: inherit;
    & img {
        margin-block-end: -5px;
    }
}

.hp-hero-details-container {
    position: absolute;
    z-index: 1;
    left: 0;
    p {
        color: white;
    }
}

.hero-image {
    // animation: fadeIn 3s;
}