@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.hp-hero-image-list {
    position: relative;
    & img {
        margin-block-end: -5px;
    }
}

.hp-hero-details-container {
    position: absolute;
    z-index: 1;
    left: 60%;
    top: 80%;
    & .hp-image-preview-hero-text {
        p,
        span {
            display: inline-block;
            color: $white;
            width: 400px;
        }
    }
}

// @keyframes fadeInFromNone {
//     0% {
//         display: none;
//         opacity: 0;
//     }
//     1% {
//         display: block;
//         opacity: 0;
//     }
//     100% {
//         display: block;
//         opacity: 1;
//     }
// }