.hp-search-bar {
    position: relative;
    & input {
        border: transparent;
        height: 48px;
        font-size: 16px;
        padding-left: 44px;
        margin-bottom: 0;
        border-radius: 4px 0 0 4px;
        width: 546px;
        font-size: 16px;
    }
    & svg {
        opacity: 0.5;
        color: blue;
        position: absolute;
        top: 35%;
        left: 3%;
    }
    & button {
        border: transparent;
        transition: .15s ease-in-out;
        margin: 0;
        border-radius: 0 4px 4px 0;
        background-color: $fgc;
        color: $white;
        font-weight: 700;
        width: 103px;
        height: 48px;
        padding-block-start: 3px;
    }
    & button:hover {
        background-color: #1cb36c;
    }
}