// FIVVER HEADER COLORS
$fgc: #1dbf73; // fiverr green color
$flc: #404145; // fiverr logo color
$ftc: #62646a; // fiverr text color
$fbc: #e4e5e7; // fiverr border color
// 
$white: #fff;

// LAYOUTS
$main-layout: 1400px;